.transportEditDialog {

  .MuiDialog-paper {
    min-width: 460px;
  }

  .MuiDialogContent-root {
    display: flex;
    flex-direction: column;

    gap: 18px;
    margin-top: 10px;
  }

  .MuiFormControl-root {
    width: 100%;
  }

  .MuiRadioGroup-root {
    flex-direction: row;
    gap: 20px;
  }

  .MuiDialogActions-root {
    padding: 16px 24px;
  }

}